@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
  }
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.bg-gradient-primary {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}
